<!-- This example requires Tailwind CSS v2.0+ -->
<div class="bg-white shadow overflow-hidden">
  <div class="px-4 py-5 sm:px-6">
    <h3 class="text-lg leading-6 font-medium text-gray-900">Informations</h3>
    <p class="mt-1 max-w-2xl text-sm text-gray-500">Information de l'utilisateur</p>
  </div>
  <div class="border-t border-gray-200 px-4 py-5 sm:px-6">
    <dl class="grid grid-cols-1 gap-x-4 gap-y-8 sm:grid-cols-2">
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Prénom</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ item?.firstName }}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Nom</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ item?.lastName }}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Email</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ item?.email }}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Date d'inscription</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ item?.createdDate | date: 'EEEE, MMMM d, y' }}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Adresse</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ item?.address }}</dd>
      </div>
      <div class="sm:col-span-1">
        <dt class="text-sm font-medium text-gray-500">Nombre de prets</dt>
        <dd class="mt-1 text-sm text-gray-900">{{ item?.nombrePrets}} prets</dd>
      </div>
    </dl>
  </div>
</div>
