
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


@import url("https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css 271");

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$clientApp-primary: mat.define-palette(mat.$indigo-palette);
$clientApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$clientApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$clientApp-theme: mat.define-light-theme((
  color: (
    primary: $clientApp-primary,
    accent: $clientApp-accent,
    warn: $clientApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($clientApp-theme);

/* You can add global styles to this file, and also import other style files */

// Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// //utils
// @import "./styles/utils/variables.scss";
// @import "./styles/utils/mixins.scss";
// //base
// @import "./styles/base/base.scss";
// @import "./styles/base/font.scss";
// @import "./styles/base/reset.scss";
// //theme
// @import "./styles//theme/button.scss";
// @import "./styles//theme/spacing.scss";
// @import "./styles//theme/title.scss";
// @import "./styles//theme/bg-color.scss";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
